.env
*.env
.env.local
.env.development
.env.test
.env.production
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
myenv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.egg-info/
dist/
build/ 